#slanted {
  margin-top: 3px;
  background-color: #303030;
  color: #DEDEDE;
  -webkit-transform: skew(30deg) translate(15px);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
}

#slantedContainer {
  overflow: hidden;
}

#slanted {
  margin-top: 3px;
  background-color: #303030;
  color: #DEDEDE;
  -webkit-transform: skew(30deg) translate(15px);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
}

#slantedText > * {
  margin: 0px;
  font-size: 20px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 2px;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
}

#copyBtmRight > span{
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}


#center-div{
	margin-top: 4em;
  margin-right: auto;
  margin-left: auto;
	width: 80%;
	height: 40%;
  overflow-y: scroll;
}

.row-div{
	height: 20%;
	margin: -2% 0 2% 0; 
  display: inline-block;
}

.boxes{
	height: 80%;
	width: 300px;
	background-color: #303030;
	color: white;
	margin: 2% 5% 5% 5%;
  display: inline-block;
}

@media screen and (max-width: 400px) {
  .boxes{
    width: 250px;
    margin-right: 0;
    margin-left: 0;
  }

  #center-div{
    margin-top: 2rem;
  }
} 

.main{
	height: 100%;
}

.inset{
  margin-top: 75%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  width:2em;
  height:2em;
  border-radius:2em;
  font-size:20px;
  color:#fff;
  line-height:2em;
  text-shadow:0 1px 0 #666;
  text-align:center;
  text-decoration:none;
  box-shadow:1px 1px 2px #000;
  background:#303030;
  opacity:0.95
}

.inset:active{
  color:#eee;
  text-shadow:0 0 1px #666;
  text-decoration:none;
  box-shadow:0 0 4px #222 inset;
  opacity:1
}

.vertical{
  position: relative;
  top: 50%;
  transform: translateY(-140%);
}

#manual-upload{
  height: 10px;
  width: 10px;
  left: auto;
  right: auto;
  margin-top: 0;
  margin-top: 0.2em;
  margin-left: 1.75em;
  color:red;
  position: absolute;
  display: hidden;
}

#upload{
  height:10px;
  width: 10px;
  margin-top: 2em;
  margin-left: 1.75em;
  margin-right: auto;
  color:red;
  position: absolute;
  display: hidden;
}

#imaginary{
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  height:150px;
  width: 100px;
}

.holder{
  width: 150%;
}

.text{
  margin-top: 3em;
  position: absolute;
}

#text1{
  margin-top: 1em;
}

#text2{
  margin-top: 3em;
}

.csvDiv{
  height: 100%;
  width:100%;
  background-color: rgba(0,0,0,0.70);
  position: absolute;
  z-index: 2;
  top: 140%;
  transform: translateY(-140%);
}

#csvForm{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 15em;
  height: 10em;
  z-index: 10;  
  top: 90%;
  transform: translateY(90%);
}







