<div ng-include="'components/shared/templates/header.html'">
</div>

<div layout="column" class="main" ng-switch on = "form">

  <div layout="row" ng-include="'components/shared/templates/flag.html'">
  </div>

  <div layout="column" class="csvDiv" ng-hide="csvHide" ng-click="hideCSV()">
    <div id="csvForm">
    </div>
  </div>
  
  <div id="sectionContainer" layout="column" ng-switch-default>
    <div id="centerDiv">
      <div layout="row" class="rowDiv">
          <div class="boxes" layout="column" ng-repeat="class in classes">
            <div id="classesNameContainer" layout="row" layout-align="center end">
              <p class="classesName">
                {{class.class_name +" "+class.section}}
              </p>
            </div>            
          </div>
      </div>
    </div>

    <div id="selectionContainer">  
      <div ng-hide="isHidden" class="selectionDivHolder">
        <div class="inset" id="uploadSelectionDiv" ng-click="$parent.form='addClassSection'">
        </div>
        <span class="selectionText" id="selectionText1">
          Add Class
        </span>
      </div>

      <div ng-hide="isHidden" class="selectionDivHolder">
        <div class="inset" id="uploadOptionDiv" ng-click="uploadCSV()">
        </div>
        <span class="selectionText" id="selectionText2">
          Upload CSV File
        </span>
      </div>
      
      <div class="inset" ng-click="uploadSection()">
        +
      </div>
    </div>
  </div>

  <div id="addClassDiv" layout="row" ng-switch-when = "addClassSection">
    <form ng-submit="add_class()">
      <div class="add_class_child" layout="row">
        <div layout="column">
          <p>Class Name:</p>
          <p>Class Section:</p>
        </div>
      <div layout="column">
          <input flex type="text" class="ng-pristine ng-valid md-input ng-touched" ng-model="class.class_name">
          <input flex type="text" class="ng-pristine ng-valid md-input ng-touched" ng-model="class.section">
        </div>
        </div>
        <div id="buttonAdd" layout="row">
          <md-button id="btn-add" ng-click="addClass()" type="submit">SAVE</md-button>
      </div>
    </form>
  </div>

</div>

<div ng-include="'components/shared/templates/nav.html'">
</div>

  
