<md-toolbar layout="row" layout-align="end center" style="min-height: 20px">
    <md-icon aria-label="key_down" class="material-icons" style="margin: 0px">expand_more</md-icon>
</md-toolbar>
<div layout="column" class="main">
    <div layout="row">
      <span flex-xs="40" flex-gt-xs="60"></span>
      <div flex id="slantedContainer">
        <div id="slanted"><div id="slantedText"><p>MY ACCOUNT</p></div></div>
      </div>
    </div>

    <span flex="10"></span>

    <div layout="row">
      <span flex="10"></span>
      <div flex="45">
        <div id="displayPic" layout-align="center center">
          <img src="#" alt="Profile pic">
        </div>
      </div>

      <span flex="5"></span>

      <div flex id="nameContainer" layout="column" layout-align="center start">
        <h2>JOSEPH</h2>
        <h3>TYLER D</h3>
      </div>
    </div>

    <div flex="20" layout="row">
      <span flex-xs="10" flex-gt-xs="20"></span>
      <div flex id="accountInfo" layout="column" layout-align="center start">
        <div layout="row">
          <h4>TEACHER ID#</h4>
          <h4>001</h4>
        </div>
        <div layout="row">
          <h4>E-MAIL ADDRESS</h4>
          <h4>tdjoseph@up.edu.ph</h4>
        </div>
      </div>
      <!--Optional for preferrence-->
      <!--span flex-xs="15" flex-gt-xs="20" flex-order="3"></span-->
      <!--                        -->
    </div>

    <div flex="20" layout="row">
      <span flex-xs="10" flex-gt-xs="20"></span>
      <div flex id="accountButtons" layout="column" layout-align="start center" layout-align-gt-xs="center center">
        <md-button flex class="md-raised">EDIT PROFILE</md-button>
        <md-button flex class="md-raised">CHANGE PASSWORD</md-button>
      </div>
      <span flex-xs="10" flex-gt-xs="20" flex-order="3"></span>
    </div>

    <div flex layout="row" layout-align="end end">
      <div id="copyBtmRight"  layout="column">
        <h1>STUDEX</h1>
        <span>&copy;AB-6L 2016 All Rights Reserved</span>
      </div>
    </div>
</div
