<div ng-include="'components/shared/templates/header.html'">
</div>
<div layout="column" class="main">

    <div layout="row">
       <span flex-xs="40" flex-gt-xs="60"></span>
      <div flex id="slantedContainer">
        <div id="slanted">
          <div id="slantedText">
            <p>ADD STUDENT</p>
          </div>
        </div>
      </div>
    </div>
 

  <div flex="10"></div>

<div flex class="main" id="main-student" layout="column" layout-align="center center">
  <div layout="row">
    <!-- FORM -->
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="addStudent" ng-submit="add()" > <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <!-- EMAIL -->
        <div class="form-group">
            <label>E-mail Address: </label>
            <input type="email" name="email" id="text3" class="ng-pristine ng-valid md-input ng-touched" ng-model="user.email" size="22">
            <span ng-show="errorEmail">{{errorEmail}}</span>
        </div>

        <!-- STUDENT NUMBER -->
        <div class="form-group">
            <label>Student number: </label>
            <input type="text" name="studentnumber" id="text3" class="ng-pristine ng-valid md-input ng-touched" ng-model="user.studentnumber" ng-minlength="10" ng-maxlength="10"  size="20">
            <span ng-show="errorStudentNumber">{{errorStudentNumber}}</span>
        </div>
        
        <!-- FIRST NAME -->
        <div class="form-group">
            <label>First Name: </label>
            <input type="text" name="firstname" id="text3" class="ng-pristine ng-valid md-input ng-touched" ng-model="user.firstname" size="25">
            <span ng-show="errorFirstName">{{errorFirstName}}</span>
        </div>

        <!-- MIDDLE INITIAL -->
        <div class="form-group">
            <label>Middle Initial: </label>
            <input type="text" name="middleinitial" id="text3" class="ng-pristine ng-valid md-input ng-touched" ng-model="user.middleinitial" size="23">
            <span ng-show="errorMiddleInitial">{{errorMiddleInitial}}</span>
        </div>
        
        <!-- LAST NAME -->
        <div class="form-group">
            <label>Last Name: </label>
            <input type="text" name="lastname" id="text3" class="ng-pristine ng-valid md-input ng-touched"ng-model="user.lastname" size="25">
            <span ng-show="errorLastName">{{errorLastName}}</span>
        </div>
        
        <!-- STUDENT TAG -->
        <div class="form-group">
            <label>Tag: </label>
            <input type="text" name="tag" id="text3" class="ng-pristine ng-valid md-input ng-touched"ng-model="user.tag" size="30">
            <span ng-show="errorTag">{{errorTag}}</span>
        </div>
        
        <!-- SUBMIT BUTTON -->
        <div layout="row" id="student-buttons">
          <div flex="40"></div>
          <div flex="" layout="row">  
            <div flex>
              <md-button id="save" size="90" ng-click="add()">SAVE</md-button>
            </div>
          </div>
          <div flex="40"></div>
        </div>


    </form>

  </div>
  

</div>


      <span flex-xs="10" flex-gt-xs="20" flex-order="3"></span>

</div>
<div ng-include="'components/shared/templates/nav.html'">
</div>
