<div ng-include="'components/shared/templates/header.html'">
</div>
<div layout="column" class="main">
    <div layout="row" ng-include="'components/shared/templates/flag.html'">
    </div>

    <div id="picContainer" layout-align="center center">
    </div>

    <div flex="5"></div>

    <div layout-align="center center" ng-switch on="form">
    	
      <div id="circle" class="circle-container-home" ng-switch-default>
        <span class="form-header">SELECT SECTION/S</span>
		    <form id="checkBox-form" class="form-2">
          <div id="checkBox" flex-xs flex="100">
             <md-checkbox ng-model="class.selected" ng-repeat="class in classes">
              {{ class.class_name + class.section }}
            </md-checkbox>
            <md-checkbox ng-model="data.no_called">
              NO CALLED STUDENTS
            </md-checkbox>
            <md-button id="white-1" class="md-fab" v ng-click="$parent.form='random'; selectClass()">
            <span>&gt;&gt;</span>
            <div class="md-ripple-container"></div>
          </md-button>
          </div>
        </form>
      </div>		

      <div id="circle" class="circle-container-home" ng-switch-when="random">
        <span class="form-header"># OF VOLUNTEERS</span>
        <form id="white-form" class="form-2" ng-submit="$parent.form='tags'">
          <md-input-container id="inputVol">
            <input type="number" class="ng-pristine ng-valid md-input ng-touched" ng-model="data.settings.numberOfVolunteers" aria-label ="random" required>
          </md-input-container>

          <md-button id="white-2l" class="md-fab" v ng-click="$parent.form='form'">
            <span>&lt;&lt;</span>
            <div class="md-ripple-container"></div>
          </md-button>

          <md-button type="submit" id="white-2r" class="md-fab">
            <span>&gt;&gt;</span>
            <div class="md-ripple-container"></div>
          </md-button>
        </form>
      </div>

      <div id="circle" class="circle-container-home" ng-switch-when="tags">
        <span class="form-header">TAGS </span>
        <p class="form-sub-header">(separated by commas)</p>
        <form id="white-form" class="form-2">
          <md-input-container id="inputTag">
            <input type="text" class="ng-pristine ng-valid md-input ng-touched" ng-model="data.tags_input" aria-label ="random">
          </md-input-container>
           <md-checkbox id="atleast-checkbox" ng-model="data.settings.andAllTags">
              CONSIDER ALL TAGS
            </md-checkbox>
          <md-button id="white-2l" class="md-fab" v ng-click="$parent.form='random'">
            <span>&lt;&lt;</span>
            <div class="md-ripple-container"></div>
          </md-button>

          <md-button id="white-2r" class="md-fab" v ng-click="$parent.form='chance'; inputTags()">
            <span>&gt;&gt;</span>
            <div class="md-ripple-container"></div>
          </md-button>
        </form>
      </div>

      <div id="circle" class="circle-container-home" ng-switch-when="chance">
        <span class="form-header">OPTIONS</span>
        <form id="checkBox-form" class="form-2">
          <div id="checkBox-2" flex-xs flex="100">
            
            <md-radio-group ng-model="data.randomize">
              <md-radio-button value="chance">BY CHANCE</md-radio-button>
              <md-radio-button value="count"> BY COUNT </md-radio-button>
              <md-radio-button value="default"> DEFAULT </md-radio-button>
            </md-radio-group>  

            <md-checkbox ng-model="data.settings.unique" aria-label="Checkbox 2">
              NO REPEAT
            </md-checkbox>
            <md-button id="white-3l" class="md-fab" v ng-click="$parent.form='tags'">
              <span>&lt;&lt;</span>
              <div class="md-ripple-container"></div>
            </md-button>
            <md-button id="white-3r" class="md-fab" v ng-click="$parent.form='vols'; getVolunteers()" type="submit">
              <span>&gt;</span>
              <div class="md-ripple-container"></div>
            </md-button>
          </div>
        </form>
      </div>

      <div ng-switch-when="vols">
        <span class="vol-header">VOLUNTEER</span>
        <div id="volBox">
          <br/>
          <span id="temptemptemptemp" ng-repeat="student in students">
            {{student.first_name + ' ' + student.middle_initial + ' ' + student.last_name}}
            <br/>
          </span>      
        </div>
        <form id="checkBox-form" class="form-2">
          <div flex-xs flex="100">
            <md-button id="white-4l" class="md-raised" v ng-click="$parent.form='form'">
              <span>SETTINGS</span>
              <div class="md-ripple-container"></div>
            </md-button>
            <md-button id="white-4r" class="md-raised" v ng-click="$parent.form='vols'; getVolunteers()">
              <span>AGAIN</span>
              <div class="md-ripple-container"></div>
            </md-button>
          </div>
        </form>
      </div>
    </div>

</div>
<div ng-include="'components/shared/templates/nav.html'">
</div>
