#circle {
	color: #303030;
	height: 250px;
	width: 250px;
	background-color: #303030;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%x;
	-o-border-radius: 250px;
	border-radius: 50%;
	color: #DEDEDE;
	margin: 0 auto;
	display: block;
	font-size: 15px;
	margin-bottom: 110px;
	}

.circle-container-home {
	position: relative;
	width: 100%;
	height: 100%;
}

.circle-container-home > div, form {
	height: 50%;
	vertical-align: middle;
	border-width: 0.5px;
}

.form-header {
	line-height: 100px;
}

.form-sub-header{
	line-height: 50px;
}

.vol-header{
	color: #303030;
	font-size: 25px;
}

.form-2 > * {
	margin-top: -25px;
}

#inputVol{
	margin-top: 15px;
	font-size: 30px;
	width: 150px;
}


#inputTag{
	margin-top:10px;
	margin-bottom: -15px;
	font-size: 30px;
	width: 150px;
}
#tryText{
	color: #ffffff;
	width: 250px;
}
#sectionList{
	color: #ffffff;
}

#checkBox{
	font-size:18px;
	width: 220px;
    height: 105px;
    overflow-y: scroll;
    padding:0px;
    text-align: left;
    margin-left: 30px;
}

#checkBox-2{
	margin-bottom: 3px;
	font-size:18px;
	width: 250px;
    height: 105px;
    overflow-y: scroll;
    padding:0px;
    text-align: left;
    margin-left: 20px;
}

#checkBox-form label {
	color: #DEDEDE;
}

#checkBox-form {
	width: 80%;
}

button {
	max-height: 40px;
	max-width: 40px;
}

button > span {
	top: -5px;
	position: relative;
	color: #303030;
	font-size: 15px;
}

#white-1 {
	position: absolute;
	left: 50%;
	top: 73%;
	margin-left: -20px;
	background-color: #DEDEDE;
}

#white-2r {
	position: absolute;
	right: 28%;
	top: 85%;
	float: right;
	background-color: #DEDEDE;
}

#white-2l {
	position: absolute;
	left: 28%;
	top: 85%;
	float: left;
	background-color: #DEDEDE;
}

#white-3r {
	position: absolute;
	right: 28%;
	top: 73%;
	float: right;
	background-color: #DEDEDE;
}

#white-3l {
	position: absolute;
	left: 28%;
	top: 73%;
	float: left;
	background-color: #DEDEDE;
}


#white-4r {
	position: absolute;
	right: 12%;
	top: 73%;
	float: right;
	background-color: #DEDEDE;
}

#white-4l {
	position: absolute;
	left: 12%;
	top: 73%;
	float: left;
	background-color: #DEDEDE;
}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding-top:10px;
}

#white-form label {
	color: #DEDEDE;

}

#temptemptemptemp{
	float: left;
	width: 50%;
	padding: 10px;

}

#volBox{
	height: 300px;
    overflow-y: scroll;
    padding-left: 30%;
}

#atleast-checkbox{
	margin-top: -50px;
}