<md-toolbar id="toolbar-main">
	<div layout="row">
		<div flex="90" flex-gt-sm="95"></div>
		<md-button class="md-icon-button" aria-label="Expand">
			<md-icon class="material-icons">expand_more</md-icon>
		</md-button>
	</div>
</md-toolbar>

<div layout="row">
	
	<div flex="20" flex-gt-sm="75"></div>
	<div id="skew" flex="" flex layout="column" layout-align="center center">
		<h3 id="skewText">HISTORY</h3>
	</div>
</div>

<div flex class="main" id="main-history" layout="column" layout-align="center">


	<div layout="column">

		<div layout="row" id="history-buttons">
			<div flex="20"></div>
			
			<div flex="" layout="column" >	
				<div flex>
					<md-button href="#/history/transaction">LOG OF TRANSACTIONS</md-button>
				</div>
				<div>
					<md-button href="#/history/volunteer">LOG OF VOLUNTEERED STUDENTS</md-button>
				</div>
			</div>

			<div flex="20"></div>
		</div>

		<div layout="row" layout-align="end end" id="copyright">
			<div>
				<div layout="row" layout-align="end end">
					<h2 style="margin-bottom:0px">STUDEX</h2>
				</div>
				<div>
					&copy;AB-6L 2016 All Rights Reserved
				</div>
			</div>
		</div>
	</div>
</div>

