#main-history h2 {
	font-family: revolution;
	font-size: 30px;
	letter-spacing: 10px;
	margin-top: 0;
}

#history-buttons span {
	color: #FFFFFF;
	font-size:10px;
}

#history-buttons a {
	min-width:100%;
	background-color: rgb(48,48,48);
}