<md-toolbar layout="row" layout-align="center center">
  <h2>STUDEX</h2>
</md-toolbar>



<div flex class="main" id="main-history" layout="column">

	<div layout="row">
    	<span flex-xs="40" flex-gt-xs="60"></span>
    	<div flex id="slantedContainer">
   			<div id="slanted"><div id="slantedText"><p>HISTORY</p></div></div>
    	</div>
    </div>

    <span flex="20"></span>

	<div layout="column">

		<div layout="row" id="history-buttons">
			<div flex="20"></div>
			
			<div flex="" layout="column" >	
				<div flex>
					<md-button href="#/history/transaction">LOG OF TRANSACTIONS</md-button>
				</div>
				<div flex>
					<md-button href="#/history/volunteer">LOG OF VOLUNTEERED STUDENTS</md-button>
				</div>
			</div>

			<div flex="20"></div>
		</div>
	</div>

	<span flex="10"></span>
</div>
<md-toolbar layout="row" layout-align="end center" style="min-height: 40px">
</md-toolbar>
