<div ng-include="'components/shared/templates/header.html'">
</div>
<div layout="column" class="main">
    <div layout="row" ng-include="'components/shared/templates/flag.html'">
    </div>

    <!--INSERT CODE HERE-->	
    <div id="add_class_div" layout="row">
    	<form ng-submit="add_class()">
    		<div class="add_class_child" layout="row">
    			<div layout="column">
    				<p>Class Name:</p>
    				<p>Class Section:</p>
    			</div>
				<div layout="column">
    				<input flex type="text" class="ng-pristine ng-valid md-input ng-touched" ng-model="class.class_name">
    				<input flex type="text" class="ng-pristine ng-valid md-input ng-touched" ng-model="class.section">
    			</div>
	        </div>
	        <div id="buttonAdd" layout="row">
	        	<md-button id="btn-add" ng-click="addClass()" type="submit">SAVE</md-button>
		        
	    	</div>
    	</form>

    </div>

</div>

<div ng-include="'components/shared/templates/nav.html'">
</div>