<div flex="20"></div>
<div flex class="main">
	<div>
		<h1>STUDEX</h1>
	</div>
	
	<div id="circle" ng-switch on="form">
		<div class="circle-container" ng-switch-when="login">
			<span class="form-header">- LOG IN -</span>
			<div class="form-2">
				<md-input-container>
					<label>e-mail address</label>
					<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.email" >
				</md-input-container>
				<md-input-container>
					<label>password</label>
					<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.password" >
				</md-input-container>
				<input type="image" src="http://placehold.it/50x50" alt="Submit Form" />
			</div>
			<span class="italic" ng-click="$parent.form='register'">register?</span>
		</div>

		<div class="circle-container" ng-switch-when="register">
			<span class="form-header">- REGISTER -</span>
			<div class="form-3">
				<md-input-container>
					<label>first name</label>
					<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.fname" >
				</md-input-container>
				<md-input-container>
					<label>middle initial</label>
					<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.minitial" >
				</md-input-container>
				<md-input-container>
					<label>last name</label>
					<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.lname" >
				</md-input-container>
				<input type="image" src="http://placehold.it/50x50" alt="Submit Form" ng-click="$parent.form='register2'"/>
			</div>
			<span class="italic" ng-click="$parent.form='login'">log-in?</span>
		</div>

		<div class="circle-container" ng-switch-when="register2">
			<span class="form-header">- REGISTER -</span>
			<div class="form-2">
				<md-input-container>
					<label>e-mail address</label>
					<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.email" >
				</md-input-container>
				<md-input-container>
					<label>password</label>
					<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.password" >
				</md-input-container>
				<input type="image" src="http://placehold.it/50x50" alt="Submit Form"/>
			</div>
			<span class="italic" ng-click="$parent.form='login'">log-in?</span>
		</div>

		<div class="circle-container" ng-switch-default>
			<div id="upper" ng-click="$parent.form='login'">
				<span>LOG IN &gt;</span>
			</div>
			<div id="lower" ng-click="$parent.form='register'">
				<span>REGISTER &gt;</span>
			</div>
		</div>
	</div>
	
	<div>
		<span>&copy;AB-6L 2016 All Rights Reserved</span>
	</div>
</div>
