<div flex="20"></div>
<div layout="column" layout-align="center center">
	<div flex class="main">
		<div>
			<h1>STUDEX</h1>
		</div>
		
		<div id="circle" ng-switch on="form">
			<div class="circle-container" ng-switch-when="login">
				<span class="form-header">- LOG IN -</span>
				<form id="white-form" ng-submit="login()" class="form-2">
						<md-input-container>
							<label class="md-primary md-hue-2">e-mail address</label>
							<input type="email" class="ng-pristine ng-valid md-input ng-touched" ng-model="user.email" >
						</md-input-container>
						<md-input-container>
							<label>password</label>
							<input type="password" class="ng-pristine ng-valid md-input ng-touched" ng-model="user.password" >
						</md-input-container>
						<md-button id="white-1" class="md-fab" type="submit">
							<span>&gt;</span>
							<div class="md-ripple-container"></div>
						</md-button>
				</form>
				<span class="italic" ng-click="$parent.form='register'">register?</span>
			</div>

			<div class="circle-container" ng-switch-when="register">
				<span class="form-header">- REGISTER -</span>
				<form id="white-form" class="form-3">
					<md-input-container>
						<label>first name</label>
						<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.first_name" >
					</md-input-container>
					<md-input-container>
						<label>middle initial</label>
						<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.middle_initial" >
					</md-input-container>
					<md-input-container>
						<label>last name</label>
						<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.last_name" >
					</md-input-container>
					<md-button id="white-2" class="md-fab" type="button" ng-click="$parent.form='register2'">
						<span>&gt;&gt;</span>
						<div class="md-ripple-container"></div>
					</md-button>
				</form>
				<span class="italic" ng-click="$parent.form='login'">log-in?</span>
			</div>

			<div class="circle-container" ng-switch-when="register2">
				<span class="form-header">- REGISTER -</span>
				<form id="white-form" ng-submit="register()" class="form-3">
					<md-input-container>
						<label>e-mail address</label>
						<input type="email" class="ng-pristine ng-valid md-input ng-touched" ng-model="user.email" >
					</md-input-container>
					<md-input-container>
						<label>password</label>
						<input type="password" class="ng-pristine ng-valid md-input ng-touched" ng-model="user.password" >
					</md-input-container>
					<md-input-container>
						<label>confirm password</label>
						<input class="ng-pristine ng-valid md-input ng-touched" ng-model="user.confirm" >
					</md-input-container>
					<md-button id="white-2" class="md-fab" type="submit">
						<span>&gt;</span>
						<div class="md-ripple-container"></div>
					</md-button>
				</form>
				<span class="italic" ng-click="$parent.form='login'">log-in?</span>
			</div>

			<div class="circle-container" ng-switch-default>
				<div id="upper" ng-click="$parent.form='login'">
					<span>LOG IN &gt;</span>
				</div>
				<div id="lower" ng-click="$parent.form='register'">
					<span>REGISTER &gt;</span>
				</div>
			</div>
		</div>
		
		<div>
			<span>&copy;AB-6L 2016 All Rights Reserved</span>
		</div>
	</div>
</div>
