<md-toolbar layout="row" layout-align="center center">
	<h2>STUDEX</h2>
</md-toolbar>

<div flex class="main" id="main-volunteer" ng-controller="volunteerCtrl">

	<div layout="row">
		<div flex="20" flex-gt-sm="75"></div>
		<div id="skew" flex="" flex layout="column">
			<h3 id="skewText">VOLUNTEERED STUDENTS</h3>
		</div>
	</div>
	
	<div layout="column">

		<div layout="row" id="content-header">
			<div flex="10"></div>
			<div flex="50" flex-gt-sm="40">
				<h5>NAME</h5>
			</div>
			<div flex="40" flex-gt-sm="50">
				<h5>DATE AND TIME</h5>
			</div>
		</div>

		<div layout="row"><span flex="5"></span><hr flex style="border-color:rgb(48,48,48)"><span flex="5"> </span> </div>

		<md-content id="content-volunteer">

			<md-list flex>
				<md-list-item class="md-3-line content-volunteer-item" ng-repeat="volunteer in volunteers">
					
					<img src="" class="md-avatar"/>

					<div class="md-list-item-text" layout="row">
						<div flex="50">
							<h4>{{ volunteer.STUDENT}}</h4>
						</div>
						<div flex="50">
							<h4>{{ volunteer.volunteer_date }}</h4>
						</div>
					</div>
				</md-list-item>
				
			</md-list>
		</md-content>

		<md-toolbar layout="row" layout-align="end center" style="min-height: 40px">
		</md-toolbar>

	</div>
</div>

