<div ng-include="'components/shared/templates/header.html'">
</div>
<div layout="column" class="main">

    <div layout="row">
       <span flex-xs="40" flex-gt-xs="60"></span>
      <div flex id="slantedContainer">
        <div id="slanted">
          <div id="slantedText">
            <p>CONTACT US</p>
          </div>
        </div>
      </div>
    </div>
 

  <div flex="10"></div>

<div flex class="main" id="main-student" layout="column" layout-align="center center">
  <div layout="row">

    <div>
      <p>INTRODUCTION: </p><br>
      <p>CONTACT NUMBER: </p><br>
      <p>EMAIL ADDRESS: </p><br>
      <p>ADDRESS: </p><br>
    </div>
  </div>
  

</div>


      <span flex-xs="10" flex-gt-xs="20" flex-order="3"></span>

</div>
<div ng-include="'components/shared/templates/nav.html'">
</div>
