<div ng-include="'components/shared/templates/header.html'">
</div>
<div layout="column" class="main">

    <div layout="row">
       <span flex-xs="40" flex-gt-xs="60"></span>
      <div flex id="slantedContainer">
        <div id="slanted">
          <div id="slantedText">
            <p>CONTACT US</p>
          </div>
        </div>
      </div>
    </div>
 

  <div flex="10"></div>

<div flex class="main" id="main-student" layout="column" layout-align="center center">
  <div layout="row">

    <div>
      <h4>Do you have questions? Any problems with the randomization? We want to hear them from you. </h4><br>
      <h4>Reach us through these informations.</h4><br>
      <p>CONTACT NUMBER: +639263708311</p><br>
      <p>EMAIL ADDRESS: studex.staff@gmail.com</p><br>
      <p>ADDRESS: University of the Philippines Los Baños, Los Baños 4031, Laguna, Philippines</p><br>
    </div>
  </div>
</div>


      <span flex-xs="10" flex-gt-xs="20" flex-order="3"></span>

</div>
<div ng-include="'components/shared/templates/nav.html'">
</div>
