<div ng-include="'components/shared/templates/header.html'">
</div>
<div layout="column" class="main">

    <div layout="row">
       <span flex-xs="40" flex-gt-xs="60"></span>
      <div flex id="slantedContainer">
        <div id="slanted">
          <div id="slantedText">
            <p>CONTACT US</p>
          </div>
        </div>
      </div>
    </div>
 

  <div flex="10"></div>

<div flex class="main" id="main-student" layout="column" layout-align="center center">
  <div layout="row">

    <div>
      <p>INTRODUCTION: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. </p><br>
      <p>CONTACT NUMBER: +639263708311</p><br>
      <p>EMAIL ADDRESS: studex.staff@gmail.com</p><br>
      <p>ADDRESS: University of the Philippines Los Baños, Los Baños 4031, Laguna, Philippines</p><br>
    </div>
  </div>
</div>


      <span flex-xs="10" flex-gt-xs="20" flex-order="3"></span>

</div>
<div ng-include="'components/shared/templates/nav.html'">
</div>
