<div ng-include="'components/shared/templates/header.html'">
</div>
<div flex id="SectionView" layout="column" ng-switch on="form">
	<div flex layout="column" class="main" ng-switch-default>
		<div flex="5" id="pageheader" layout="row" ng-include="'components/shared/templates/flag.html'">
		</div>
		
		<span flex="5"></span>
		<div layout="column">
			<div flex="30">
				<div layout="row" id="secinfo">
					<div class="header"><span>SECTION INFORMATION</span></div>
					<div flex class="icons2" layout="column" layout-align="center end">
						<md-button ng-hide="check" class="md-icon-button md-raised" aria-label="Edit" ng-click="editSection()">
							<md-icon md-svg-icon="../../assets/icons/ic_edit_black_24px.svg"></md-icon>
						</md-button>
						<md-button ng-show="check" class="md-icon-button md-raised" aria-label="Edit" ng-click="saveSection()">
							<md-icon md-svg-icon="../../assets/icons/ic_done_black_24px.svg"></md-icon>
						</md-button>
					</div>
					<span flex="5"></span>	
				</div>
				<div layout="row">
					<span flex="5"></span>
					<hr flex/>
					<span flex="5"></span>
				</div>
		
				<span flex="5"></span>
		
				<div layout="row">
					<md-list>
						<md-list-item class="md-3-line">
						  <div layout-align="center start" layout="column">
							<span class="info">Class Name</span>
							<span class="info">Class Section</span>
							<span class="info">Class ID</span>
						  </div>
						</md-list-item>
					</md-list>
				</div>
		
				<div layout="row" id="rawinfo">
					<md-list ng-hide="check">
						<md-list-item class="md-3-line">
						  <div layout-align="center start" layout="column">
							<span class="raw">CMSC 128</span>
							<span class="raw">AB-6L</span>
							<span class="raw">1</span>
						  </div>
						</md-list-item>
					</md-list>
				
					<md-list ng-show="check" id="sectionedit">
						<md-list-item class="md-3-line">
						  <div layout-align="center start" layout="column" class="editsec">
						  	<div layout="row" flex>
								<input flex="70" type="text" class="ng-pristine ng-valid md-input ng-touched">
							</div>
							<div layout="row" flex>
								<input flex="70" type="text" class="ng-pristine ng-valid md-input ng-touched">
							</div>
							<span class="raw">1</span>	
						  </div>
						</md-list-item>
					</md-list>
				</div>
		
				<div layout="row">
					<div class="header studheader"><span>STUDENTS</span></div>
				</div>
		
				<div layout="row">
					<span flex="5"></span>
						<hr class="studhr" flex/>
					<span flex="5"></span>
				</div>
			</div>
		
			<div>
				<md-content>
					<md-card ng-repeat="student in class">
						<div ng-hide="flag[$index]">    			
							<md-card-title>
								<md-card-title-media>
									<div class="md-media-sm card-media">
										<img alt="Profile pic" ng-src="{{config.protocol + config.backend_url}}/{{ student.student_id }}/picture">
									</div>
								</md-card-title-media>
								<md-card-title-text>
									<span class="md-headline lastname">{{ student.last_name }}</span>
									<div flex class="icons" layout="column" layout-align="center end">
										<md-button class="md-icon-button md-raised" aria-label="Edit" ng-click="editStudent($index)">
											<md-icon md-svg-icon="../../assets/icons/ic_edit_black_24px.svg"></md-icon>
										</md-button>
									</div>
									<span flex="5"></span>
									<span class="md-subhead">{{ student.first_name }} {{ student.middle_initial }}</span>
								</md-card-title-text>
							</md-card-title>
							<div layout="row">
								<div layout="column" class="chance">	
									<span class="md-headline">{{ student.chance*100 }}%</span>
									<span>chance</span>
								</div>
								<md-card-content flex layout="column" layout-align="start center">
									<span>{{ student.student_number }}</span><br>
									<span>{{ student.email }}</span>
								</md-card-content>
							</div>
						</div>
					
						<div ng-show="flag[$index]">
							<md-card-title>
								<md-card-title-media>
									<div class="md-media-sm card-media">
										<img alt="Profile pic" ng-src="{{config.protocol + config.backend_url}}/{{ student.student_id }}/picture">
									</div>
								</md-card-title-media>
								<md-card-title-text layout="column" layout-align="start center">
									<div layout="row">
										<div layout="column" layout-align="start center" class="md-headline">
											<input flex-xs="10" flex="30" type="text" class="ng-pristine ng-valid md-input ng-touched inputlastname" ng-model="student.last_name">
										</div>
										<div class="icons2" layout="column" layout-align="center end">
											<md-button class="md-icon-button md-raised" aria-label="Edit" ng-click="saveStudent($index)">
												<md-icon md-svg-icon="../../assets/icons/ic_done_black_24px.svg"></md-icon>
											</md-button>
										</div>
									</div>
									<div layout="row" layout-align="start center">
										<span flex="20"></span>
										<input flex-xs="30" flex="40" type="text" class="ng-pristine ng-valid md-input ng-touched" ng-model="student.first_name">
										<span flex="5"></span>
										<input flex="10" type="text" class="ng-pristine ng-valid md-input ng-touched" ng-model="student.middle_initial">
									</div>
								</md-card-title-text>
							</md-card-title>
							<div layout="row" layout-align="start center">
								<div layout="column" layout-align="start start" class="chance">
									<div class="md-headline" layout="row" layout-align="start start">	
										<input flex="60" type="text" class="ng-pristine ng-valid md-input ng-touched inputchance" ng-model="student.chance"><span>%<span><br>
									</div>
									<span>chance</span>
								</div>
								<md-card-content layout="column" layout-align="center center" class="moreinfo">
									<span>{{ student.student_number }}</span><br>
									<input flex="60" type="text" class="ng-pristine ng-valid md-input ng-touched" ng-model="student.email">
								</md-card-content>
							</div>
						</div>
					</md-card>
				</md-content>
			</div>
		</div>
	</div>
</div>
<div ng-include="'components/shared/templates/nav.html'">
</div>
