<md-toolbar layout="row" layout-align="center center" style="min-height: 40px" id="navbar">
	<a ng-click="navigation.home(); $parent.form='default'" layout-padding><img src="assets/icons/ic_home_white_2x.png" alt="home"></a>
	<a ng-click="navigation.account(); $parent.form='default'" layout-padding><img src="assets/icons/ic_account_circle_white_2x.png" alt="my account"></a>
	<a ng-click="navigation.sections(); $parent.form='default'" layout-padding><img src="assets/icons/ic_people_white_2x.png" alt="my sections"></a>
	<a ng-click="navigation.history(); $parent.form='default'" layout-padding><img src="assets/icons/ic_history_white_2x.png" alt="history"></a>
	<a ng-click="navigation.logout()" layout-padding><img src="assets/icons/logout.png" alt="log out"></a>
</md-toolbar>
