<md-toolbar layout="row" layout-align="center center" style="min-height: 40px" id="navbar">
	<a href="#/" layout-padding><img src="assets/icons/home.png" alt="home"></a>
	<a href="#/account" layout-padding><img src="assets/icons/profile.png" alt="my account"></a>
	<a href="#/sections" layout-padding><img src="assets/icons/sections.png" alt="my sections"></a>
	<a href="#/history" layout-padding><img src="assets/icons/history.png" alt="history"></a>
	<a href="#/logout" layout-padding><img src="assets/icons/logout.png" alt="log out"></a>
</md-toolbar>
